     /*Start of onclick effects*/
    
     /*goes well with new category*/
      .hovNew:hover:after {
            content: ' ';
            position: absolute; 
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0,170,135,.5);
            box-shadow: inset 0 0 50px #000;
        }
     /*goes well with hot category*/
     .hovBright:hover:after {
            content: ' ';
            position: absolute; 
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(220,0,0,.5);
        }
     
     /*goes well with inter category*/
     .hovPink:hover:after {
            content: ' ';
            position: absolute; 
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0,134,207,.5);
        }

     /*Goes well with special category*/
       .hovGreen:hover:after {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(209,0,93,.5);
        }

      /*Goes well with update category.*/
       .hovRed:hover:after {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(225,110,85,.6);          
        }
       
        /*END*/

        /*box shadow types*/
       .standardShadow {
            box-shadow: inset 0 0 50px #000; 
        }

        .littleShadow {
            -moz-box-shadow: inset 0 0 21px -2px #000;
            -webkit-box-shadow: inset 0 0 21px -2px #000;
            box-shadow: inset 0 0 21px -2px #000;   
        }
        /*end*/

        /*FLOW CONTROL FOR THE POSITIONING OF TITLES/CATEGORIES*/
        /*The title of the article starts from the bottom*/
	    .pullBottom {  
	        position:absolute;
            bottom:0px;
        }

        /*The title of the article starts from the top*/
        .pullTop {  
	        position:absolute;
            top:0px;
        }

        /*The title of the article ends at the right*/
	    .pullRight {
	        position:absolute;
            right:0px;
        }

        /*The title of the article ends at the left*/
         .pullLeft {
	        position:absolute;
            left:0px;
        }
        /*Streatches the background so it fits the div size*/
         .stretchBG {
            background-size: 100% auto;
	        -moz-background-size:100% 100%;
            -webkit-background-size:100% 100%;
            background-size:100% 100%;
        }
         /*END*/

         /*SIZE FOR THE TITLES*/
         /*used for the title of a tile*/
	    .fontBig {
            z-index:2;
            margin: 20px 20px;  
	        font-size:35px;
            color:white;
            text-shadow: 1px 2px 3px #666;		
			padding:0;
        }

        /*used for the title of a tile*/
	    .fontMed {
            z-index:2;
            margin: 20px 20px;  
	        font-size:21px;
            color:white; 
            text-shadow: 1px 2px 3px #666;			
			padding:0;
        }

        /*END*/

        /*BACKGROUNDS FOR THE TITLE*/
        /*Adds a dark, slightly transparent background to the div article (commonly used in the article header)*/
		.darkTransBG{
			background-color:rgba(0,0,0,0.5);
		}

        /*Adds almost solid black background to the div (commonly used in the article header)*/
        .darkTransBG{
			background-color:rgba(0,0,0,0.9);
		}

        /*Adds barely seable black background to the div (commonly used in the article header)*/
        .darkTransBG{
			background-color:rgba(0,0,0,0.5);
		}
        /*END*/
   
        /*standard CSS center*/
        .wrapCenter{
            display:block;
            text-align:center;
        }
 
         .center {
            display:inline-block;
        }
   
        /*Categories*/
        /*the small colorful rectangles*/
        .newCategory {
            z-index:2;
            display: table-cell; 
            vertical-align: middle; 
            text-align: center; 
            line-height: 20px;
            position:absolute;
            width:60px;
            height:20px;
            background: #00aa87;
            border-bottom: 1px solid #11dfb4;
            border-right: 1px solid #11dfb4;
            text-shadow: 1px 1px 1px #007c62;
            color: #fff;
            font-family: 'PT Sans Narrow',sans-serif;
            font-size: 9px;
            text-transform: uppercase;
            margin: 20px 20px;            
        }

          .hotCategory {
            z-index:2;
            display: table-cell; 
            vertical-align: middle; 
            text-align: center; 
            line-height: 20px;
            position:absolute;
            width:60px;
            height:20px;
            background: #f32938;
            border-bottom: 1px solid #f25864;
            border-right: 1px solid #f25864;
            text-shadow: 1px 1px 1px #c82431;
            color: #fff;
            font-family: 'PT Sans Narrow',sans-serif;
            font-size: 9px;
            text-transform: uppercase;
            margin: 20px 20px;            
        }

          .interCategory {
            z-index:2;
            display: table-cell; 
            vertical-align: middle; 
            text-align: center; 
            line-height: 20px;
            position:absolute;
            width:60px;
            height:20px;
            background: #0086cf;
            border-bottom: 1px solid #25a7ef;
            border-right: 1px solid #25a7ef;
            text-shadow: 1px 1px 1px #006aa5;
            color: #fff;
            font-family: 'PT Sans Narrow',sans-serif;
            font-size: 9px;
            text-transform: uppercase;
            margin: 20px 20px;            
        }

           .specialCategory {
            z-index:2;
            display: table-cell; 
            vertical-align: middle; 
            text-align: center; 
            line-height: 20px;
            position:absolute;
            width:60px;
            height:20px;
            background: #d1005d;
            border-bottom: 1px solid #eb1f7a;
            border-right: 1px solid #eb1f7a;
            text-shadow: 1px 1px 1px #b1004f;
            color: #fff;
            font-family: 'PT Sans Narrow',sans-serif;
            font-size: 9px;
            text-transform: uppercase;
            margin: 20px 20px;            
        }
           
         .updateCategory {
            z-index:2;
            display: table-cell; 
            vertical-align: middle; 
            text-align: center; 
            line-height: 20px;
            position:absolute;
            width:60px;
            height:20px;
            background: #e44a28;
            border-bottom: 1px solid #e16e55;
            border-right: 1px solid #e16e55;
            text-shadow: 1px 1px 1px #b83d22;
            color: #fff;
            font-family: 'PT Sans Narrow',sans-serif;
            font-size: 9px;
            text-transform: uppercase;
            margin: 20px 20px;            
        }       
          /*END*/

          /*modify form of categories*/
        .categoryCircle {
  	        border-radius: 50%;
            height:60px;
            line-height: 60px;
        }

         .categoryElipse {
  	        border-radius: 50%;
           
        }
        /*END*/